@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: $main-color
	opacity: 1

*:-moz-placeholder
	color: $main-color
	opacity: 1

*::-moz-placeholder
	color: $main-color
	opacity: 1

*:-ms-input-placeholder
	color: $main-color
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $main-color
body input:required:valid,
body textarea:required:valid
	color: $main-color

html, body
	height: 100%

body
	font-size: 12px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: Georgia, serif
	overflow-x: hidden
	opacity: 1
	background-color: $back

.img-responsive
	display: block
	max-width: 100%
	height: auto

a
	color: $main-color
a:hover
	color: $main-color

ul
	-webkit-padding-start: 0px
li
	list-style-type: none	

.h1 
	font-size: 56px
.h2
	font-size: 36px
	font-weight: normal
.h3
	font-size: 22px
	font-weight: normal	
.h4
	font-size: 16px

/*header*/
.site-header
	border-top: 5px solid $accent
.top-pannel
	padding: 35px 0 40px 0
	a
		.h2
			line-height: 1
			margin: 0
			span
				font-size: 46px
		p
			color: $main-lighter
			margin: 0
	a:hover
		text-decoration: none	
	.social
		margin-top: 25px
		li
			display: inline-block
			border-radius: 50%
			background-color: $main-da
			width: 25px
			height: 25px
			margin: 0 8px 0 0
			transition: background-color 1s ease
			&:hover
				background-color: $accent
			a
				color: $back
				font-size: 16px
				text-align: center
				margin-left: 6.5px

.search-form
	position: relative
	margin-top: 25px
	.search-field
	  background-color: $main-da
	  border: none
	  border-radius: 20px
	  cursor: pointer
	  height: 25px
	  width: 165px
	  padding: 0 34px 0 10px 
	  -webkit-transition: width 400ms ease, background 400ms ease
	  transition: width 400ms ease, background 400ms ease
	  z-index: 1001
	.search-form-mark
		position: absolute
		top: 3px
		right: 20px
		color: $accent
		background-color: $back
		border-radius: 50%
		width: 20px
		text-align: center

.top-line
	background-color: $main-fo
ul.points-wrapper
	overflow: hidden
	padding-left: none
	margin: 20px 0
	>li
		float: left
		padding: 0 15px
		border-right: 1px solid $main-color
		line-height: 1
		&:first-child
			padding-left: 0px
		&:last-child
			border-right: none			
		a
			&:hover
				color: $dark-blue
				text-decoration: none

//toggle-menu
.toggle-mnu 
  display: block
  width: 28px
  height: 28px
  float: left

  span:after, span:before 
    content: ""
    position: absolute
    left: 0
    top: 9px

  span:after
    top: 18px

  span 
    position: relative
    display: block

  span, span:after, span:before
    width: 100%
    height: 2px
    background-color: $back
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px


  &.on span 
    background-color: transparent

  &.on span:before 
    transform: rotate(45deg) translate(-1px, 0px)

  &.on span:after 
    transform: rotate(-45deg) translate(6px, -7px)
//end-toggle-menu	

//mobile-menu
.mobile-menu
	padding: 10px 15px 10px 15px
	color: $back
	cursor: pointer
	background-color: $main-color
	position: relati
	z-index: 3
	.toggle-mnu 
		span:after, span:before
			background-color: $back
	b
		display: block
		margin-left: 40px
		font-style: Italic		

//slideshow
.slideshow-head
	border-bottom: 1px solid #e1e1e1	
	margin-bottom: 100px	
	background-image: url(/img/slider-bg-image.png)
	background-position: center bottom
	background-repeat: no-repeat
.slideshow-container
	.image-box
		img
			position: relative
			animation: turning 3.5s ease-out						

	.text-box
		animation: rotation 3.5s ease-out
		padding-left: 20px		
		.h1
			color: $main-color
			font-weight: normal
			line-height: 1
			margin-top: 20px
			margin-bottom: 20px
		p
			font-size: 16px
			line-height: 1.4
		a
			color: $accent
			font-size: 16px

.owl-carousel-slide
	margin: 0 70px

@keyframes turning
	0%
		transform: scale(0, 0)
		opacity: 0
	50%
		transform: scale(0.5, 0.5)
		opacity: 0.5		
	100%
		transform: scale(1, 1)
		opacity: 1

@keyframes rotation
	0%
		-ms-transform: rotate(0deg)
		-webkit-transform: rotate(0deg)
		-o-transform: rotate(0deg)
		-moz-transform: rotate(0deg)
		transform: rotate(0deg)
		opacity: 0
	25%
		-ms-transform: rotate(90deg)
		-webkit-transform: rotate(90deg)
		-o-transform: rotate(90deg)
		-moz-transform: rotate(90deg)
		transform: rotate(90deg)
		opacity: 0.25		
	50%
		-ms-transform: rotate(180deg)
		-webkit-transform: rotate(180deg)
		-o-transform: rotate(180deg)
		-moz-transform: rotate(180deg)
		transform: rotate(180deg)
		opacity: 0.5
	75%
		-ms-transform: rotate(270deg)
		-webkit-transform: rotate(270deg)
		-o-transform: rotate(270deg)
		-moz-transform: rotate(270deg)
		transform: rotate(270deg)
		opacity: 0.75					
	100%
		-ms-transform: rotate(360deg)
		-webkit-transform: rotate(360deg)
		-o-transform: rotate(360deg)
		-moz-transform: rotate(360deg)
		transform: rotate(360deg)
		opacity: 1		

.slideshow-container	
	padding: 50px 0 15px 0	
	.owl-carousel
		position: relative
		.owl-nav
			position: absolute
			top: 40%
			width: 100%
			.owl-prev
				float: left
			.owl-next
				float: right

/*aboutUs-team*/
.about-man
	margin-bottom: 40px
	.about-man-top
		display: table
		.table-cell
			display: table-cell
			.h4
				margin-left: 10px
				span
					font-weight: normal
	p
		font-size: 13px
		margin-top: 0px

.about-man.man-flex
	display: flex
	flex-derection: row
	justify-content: flex-start
	align-items: flex-start
	.photo
		width: 27%
		.photo-holder
			padding: 4px
			border: 1px solid #dfdfdf
			max-width: 120px
	.text
		width: 73%
		padding-left: 5px
		.h4
			margin-top: 7px 
			margin-bottom: 9px

/*reviews*/
.reviews
	background-image: url(/img/grad-top.png)
	background-position: center top
	background-repeat: no-repeat
	margin-top: 50px
	margin-bottom: 100px
	&:hover
		cursor: pointer
	.container
		background-image: url(/img/grad-bottom.png)
		background-position: center bottom
		background-repeat: no-repeat
	p
		color: $main-color
		font-size: 22px
		text-align: center

/*projects-hold*/		
.projects-hold
	display: flex
	flex-derection: row
	justify-content: space-between
	align-items: start
	.projects-item
		img
			padding: 10px
			border: 1px solid #dfdfdf

@import "media" // Всегда в конце
